@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Comfortaa', cursive;
    background: url(/assets/desktop-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    width: 200px;
}

.location .city {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 5px;
    display: none;
}

.location .date {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}

.current .temp {
    font-size: 80px;
    font-weight: 700;
    color: white;
    text-shadow: 2px 5px #322a3b;
}

.current .temp span {
    font-weight: 400;
}

.current .hi-low {
    font-size: 24px;
}

.weather-icon {
    opacity: 0.7;
}

.weather-div {
    display: flex;
    align-items: center;
}

.current .weather {
    font-size: 22px;
    font-style: italic;
}

.icon-text {
    display: flex;
    flex-direction: column;
}

.fa-fort-awesome {
    color: #6f42c1;
    opacity: 0.7;
    font-size: 30px;
}

@media (max-width: 576px) { 
    body {
        background: url(/assets/phone-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .location .city {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 5px;
    }
    
    .location .date {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 5px;
    }
    
    .current .temp {
        font-size: 70px;
        font-weight: 700;
        color: white;
        text-shadow: 2px 5px #322a3b;
        
    }
    
    .current .temp span {
        font-weight: 400;
    }
    
    .current .weather {
        font-size: 22px;
    }
    
    .current .hi-low {
        font-size: 24px;
    }

    .weather-div {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .weather-icon img {
        width: 100px;
    }


}
